// base-width , height
$base-height:100svh;

// frame color
$frame-background:#272C34;

// frame width height

$frame-width:400px;
$frame-height:400px;

// circle 
$circle-width:180px;
$circle-height:180px;

$circle-border-radius:50%;