.frame {
  background-color: $frame-background;
  width: $frame-width;
  height: $frame-height;

  display: grid;
  place-items: center;

  .circle {
    background-color: #fff;
    height: $circle-height;
    width: $circle-width;
    position: relative;
    // border-radius: $circle-border-radius;
    clip-path: circle(90px at 90px 90px);
  }
  .sky {
    height: 124px;
    background-color: #7ddffc;
    animation: sky-turns-black 4s ease-in-out infinite;
  }
  .sun {
   position: absolute;
  top: 20px;
  width: 35px;
  height: 35px;
  background-color: yellow;
  border-radius: 50%;
  transform-origin: 50% 400%;
  animation: sun-around 4s ease-in-out infinite;
  left: 70px;
  }
  .side-left {
    width: 116px;
    height: 57px;
    background-color: #f4f4f4;
    position: absolute;
    top: 67px;
    left: 35px;
    //   clip-path: polygon();
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    animation: mountain-turns-black 4s ease-in-out infinite;
}
.side-right{
    position: absolute;
  top: 67px;
  left: 93px;
  width: 58px;
  height: 57px;
  background-color: #dddada;
  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
  animation: mountain-turns-black 4s ease-in-out infinite reverse;

  }
  .shadow{
    width: 360px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 124px;
    transform-origin: 50% 0%;
     clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
     left: -80px;
     z-index: 1;
     animation: shadow-moving 4s ease-in-out infinite ;

  }
  .ground{
    background-color: #f0de75;
  height: 60px;
  position: absolute;
  width: 195px;
  top: 124px;
  animation: sand-turns 4s ease-in-out infinite;

  }
}

// sun animations

@keyframes sun-around{
    0%{
    background: #F57209;
    transform: rotate(-70deg);
    }
    30%{
        	background: #FFEF00;
    transform: rotate(-28deg);

    }
    70%{
      	background: #FFEF00;
    }
    100%{
        background-color: #f57209;
        transform: rotate(70deg);
    }
}

// sky animations
@keyframes sky-turns-black{
    0%{
          background: #272C34;
  
    }
    30%{
        background-color:#7ddffc ;
    }
    70%{
        background-color: #7DDFFC;
    }
    100%{
        background-color:  #272C34;
    }
    
}

// left side mountain turns into black && reverse for right side

@keyframes mountain-turns-black{
    0%{
        background-color:  #272C34;
    }
    30%{
        background-color: #f4f4f4;
        
    }
    70%{
        background-color: #dddada;
    }
    100%{
        background-color:  #272C34;

    }

}

// shadow moving effect

@keyframes shadow-moving{
    0%{
        transform: scaleY(0);
        clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
    }
    30%{
        transform: scaleY(1);
        clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
        
    }
    55%{
        transform: scaleY(0.4);
        //  clip-path: polygon(115px 0%, 231px 0%, 28.33% 73.33%);
        
    }
    75%{
        transform: scaleY(1);
        //    clip-path: polygon(115px 0%, 231px 0%, -4.44% 80.00%);
        
    }
    100%{
        clip-path: polygon(115px 0%, 231px 0%, 0% 100%);

    }

}

// sand turns into black

@keyframes sand-turns{
    0%{
        background-color: #272C34;
    }
    30%{
        background-color: #f0de75;
    }
    70%{
        background-color: #f0de75;
    }
    100%{
        background-color: #272C34;
    }
}
