// body
$bodyHeightSVH : 100svh;


$frameWidth : 400px;
$frameHeight : 400px;



$centerWidth:80px;
$centerHeight:75px;

$menuIconWidth:100%;
$menuIconHeight:100%;


// line-height
$lineHeight:8px;
// line-width:
$lineWidth:100%;

// line border-radius
$border-radius:8px;

// animation time 

$animationTime : 25px;